.registration-container {
    position: absolute;
    top: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card {
    /* z-index: -1; */
    height: 300px;
    width: 300px;
    border-radius: 35px;
    padding: 10px 30px;
    background-color: #f0f6f6;
    color: #0C0910;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-card > button {
    margin: 20px auto;
    padding: 7px 30px;
    font-family: "Jost";
    border-radius: 12.5px;
    border: none;
    color: #F0F6F6;
    background: #0C0910;
    font-size: 1rem;
}
