.description {
    color:rgb(161, 123, 199);
    box-shadow: 0 5px 5px 0;
    font-size: 70px;
    margin-top: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: ease-in-out 200ms;
}

.description:hover {   
    color: rgb(71, 186, 215);
    cursor:pointer;
}

.landing-header{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.landing-header-logo{
    max-height: 25px;
    max-width: 175px;
    margin: 5px;
}

.landing-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: space-around;
}

.landing-logo{
    flex-grow: 100%;
    max-height: 30%;
    max-width: 600px;
    margin: 35px;
}

.landing-text{
    color: #F0F6F6;
    max-width: 70%;
    font-size: 2.2rem;
    margin: 20px;
}

.landing-text > a{
    color: #0C0910;
}

.landing-action{
    border-radius: 50px;
    background:  rgba(240, 246, 246, 0.95);
    padding: 15px 45px;
    transition: all .5s ease-in-out;
    margin-bottom: 80px;
}

.landing-action:hover{
    box-shadow: 0 0 10px 3px #7a57cc;
}