/* This Stylesheet houses styles that are reused across all components */

body {
  margin: 0;
  min-height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.animate-spin {
  transform-origin: 50% 60.2%;
  animation: rotation 18s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
      opacity: 100%;
  }
  10% {
      opacity: 80%;
  }
  30% {
      opacity: 100%;
  }
  50% {
      opacity: 70%;
  }
  50% {
      opacity: 80%;
  }
  75% {
      opacity: 60%;
  }
  to {
      transform: rotate(360deg);
      opacity: 100%;
  }
}

.main {
  position: absolute;
  top: 150px;
  text-align: center;
  width: 100vw;
}

/* Debugging class can be assigned during development to help visualising elements that are being worked on */

.debug {
  background: blue;
}
